body.main {
background-color: rgba(211, 211, 211, 1);
}
*[required],
.required{
background-color: rgba(255, 221, 221, 0.7);
}
*[required].dealed,
.required.dealed{
background-color: rgba(223, 240, 216, 1);
}
div.main {
	margin: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
}
div.header {
	margin: 1px 1px 1px 1px;
}
div.viewer {
	background-color: #FFFFFF;
	margin: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	height: 540px;
	overflow:auto;
}
div.viewer2 {
	background-color: #FFFFFF;
	margin: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	height: 420px;
	overflow:auto;
}
div.list {
	border-width: 10px;
	border-color: #FFFFFF;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	height: 420px;
	overflow:auto;
}
div.footer {
	margin: 4px 4px 4px 4px;
}
div.requiredCommont {
	font-size: 12px;
	color: red;
} 
div.caption {
	text-align: right;
	vertical-align: middle;
}
table.outer {
	background-color: #D3D3D3;
}

td.thumb {
	vertical-align:top;
	text-align : center;
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 1px;
}
td.hidden {
	visibility:hidden;
}
img.thumbImg {
	width: 120px;
	height: 90px;
}
